@model PMS.Models.Crime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Crime</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CrimeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CrimeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
